@import "../core/variables";
@import "../core/mediaqueries";

.aboutme {
  width: 80%;
  height: auto;
  margin: 15px;

  @include mediaTablet() {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  @include mediaDesktop() {
    max-width: 900px;
  }
  @include mediaBigDesktop() {
    max-width: 1200px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    @include mediaTablet() {
      gap: 0px;
    }

    &-item-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mediaTablet() {
        flex-direction: row;
        margin-right: 35px;
      }
    }
    &-item-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mediaTablet() {
        flex-direction: row-reverse;
        margin-left: 35px;
      }
    }
    &-item-solo {
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mediaTablet() {
        flex-direction: row;
      }
    }
  }

  &-img {
    width: 250px;
    @include mediaDesktop() {
      width: 300px;
    }
  }
  &-text {
    font-family: $mainFont;
    line-height: 25px;

    @include mediaTablet() {
      width: 60%;
    }
  }
}

/* .nopics {
  @include mediaTablet() {
    width: 80%;
    margin-right: 10px;
    margin-left: 10px;
  }
  @include mediaDesktop() {
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
  }
} */
#light .aboutme {
  color: $darkColor1;
}

#dark .aboutme {
  color: whitesmoke;
}
