@import "../core/variables";
@import "../core/mediaqueries";

.back-arrow-container {
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 999;
}
.back-arrow {
  cursor: pointer;
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $secondColor;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  box-shadow: 1px 1px 3px 0px #585757;

  @include mediaTablet() {
    margin-right: 10px;
  }
}
.hidden {
  display: none;
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
/* .back-arrow .visible {
  display: block;
  opacity: 1;
} */

#light .fa-arrow-up {
  color: whitesmoke;
}

#dark .fa-arrow-up {
  color: $darkColor1;
}
