@import "../core/variables";
@import "../core/mediaqueries";

.contact {
  padding: 20px;
  width: 100%;
  height: 85vh;
  margin: 10px 15px;
  @include mediaTablet() {
    width: 100%;
    height: auto;
    padding: 30px 30px 30px 30px;
  }
  @include mediaDesktop() {
    max-width: 900px;
  }
  @include mediaBigDesktop() {
    max-width: 1200px;
  }
  &-title {
    display: none;
  }
}
#light .contact {
  color: $darkColor1;
}

#dark .contact {
  color: whitesmoke;
}

.contact-container {
  width: 100%;
  height: 75vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  @include mediaTablet() {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.contact-leftside {
  width: 100%;
  height: 25%;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  @include mediaTablet() {
    width: 50%;
    height: 530px;
  }
  &-title {
    width: 55%;
    font-family: $titleFont;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  &-text {
    font-family: $mainFont;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  &-button {
    all: unset;
    cursor: pointer;
    font-family: $mainFont;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 80px;
    height: 20px;
    display: block;
    text-align: center;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.contact-rightside {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include mediaTablet() {
    width: 50%;
    height: 530px;
  }
  &-title {
    display: block;
    text-align: center;
    font-family: $titleFont;
    font-size: 30px;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}
#light .contact-rightside {
  color: $darkColor1;
  background-color: $softPurple;
}

#dark .contact-rightside {
  color: whitesmoke;
  background-color: $highLight1;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: $mainFont;

  &-label {
    font-weight: 300;
    width: 70%;
  }
  &-input {
    all: unset;
    width: 250px;
    height: 40px;
    border: 1px solid $darkColor1;
    border-radius: 10px;
    padding: 0px 10px;
  }
  &-textarea {
    all: unset;
    width: 250px;
    height: 100px;
    border: 1px solid $darkColor1;
    border-radius: 10px;
    padding: 10px;
  }
  &-button {
    all: unset;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#light .contact .button {
  color: whitesmoke;
  background-color: $darkColor1;
  border: 1px solid $darkColor1;
  &:visited {
    color: whitesmoke;
  }
  &:hover {
    background-color: whitesmoke;
    color: $darkColor1;
  }
}

#dark .contact .button {
  color: $darkColor1;
  background-color: $highLight2;
  border: 2px solid $highLight2;
  &:visited {
    color: $darkColor1;
  }
  &:hover {
    background-color: whitesmoke;
    color: $highLight1;
    border: 2px solid whitesmoke;
  }
}

#light .form-textarea {
  background-color: whitesmoke;
}
#dark .form-textarea {
  background-color: $darkColor1;
}
#light .form-input {
  background-color: whitesmoke;
  &::placeholder {
    color: $darkColor1;
    opacity: 0.6;
  }
}
#dark .form-input {
  background-color: black;
  &::placeholder {
    color: whitesmoke;
    opacity: 0.7;
  }
}
