@import "../core/variables";
@import "../core/mediaqueries";

.contact {
  padding: 20px;
  width: 80%;
  height: auto;
  margin: 15px;
  @include mediaTablet() {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  @include mediaDesktop() {
    max-width: 900px;
  }
  @include mediaBigDesktop() {
    max-width: 1200px;
  }
}
#light .contact {
  color: $darkColor1;
}

#dark .contact {
  color: whitesmoke;
}
