@import "../core/variables";
@import "../core/mediaqueries";

.footer {
  position: relative;
  z-index: 99;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaTablet() {
    margin-top: 20px;
    width: 100%;
  }
  @include mediaDesktop() {
    max-width: 900px;
  }

  @include mediaBigDesktop() {
    max-width: 1200px;
  }
  &-info {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_text {
    text-transform: capitalize;
    font-family: $mainFont;
    font-size: 10px;
    /* bottom: 20px; */
    @include mediaTablet() {
      font-size: 12px;
    }
    @include mediaBigDesktop() {
      font-size: 14px;
    }
  }
  &_heart {
    color: $secondColor;
  }
}

/* #light .footer-info {
  background-color: whitesmoke;
  color: $darkColor1;
}

#dark .footer-info {
  background-color: $darkColor1;
  color: whitesmoke;
} */
/* 
#light .footer-text {
  color: $darkColor1;
}

#dark .footer-text {
  color: whitesmoke;
} */
