@import "../core/variables";
@import "../core/mediaqueries";

.stackandskills {
  margin: 10px;
  padding-top: 10px;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include mediaTablet() {
    width: 100%;
    padding: 30px 30px 30px 30px;
    /* height: 400px; */
    gap: 10px;
  }
  @include mediaDesktop() {
    max-width: 900px;
  }
  @include mediaBigDesktop() {
    max-width: 1200px;
  }
}
.stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &_list {
    font-family: $mainFont;
    text-align: center;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    @include mediaTablet() {
      width: 600px;
    }
  }
}
.other {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    &-element {
      font-family: $mainFont;
      list-style-type: circle;
      text-align: left;
      line-height: 20px;
    }
  }
}
.other h4 {
  font-family: $mainFont;
}

#light .stackandskills {
  background-color: whitesmoke;
  color: $darkColor1;
}

#dark .stackandskills {
  background-color: $darkColor1;
  color: whitesmoke;
}
