// FONTS
$titleFont: 'League Spartan', sans-serif;
$mainFont: 'Montserrat', sans-serif;

//COLOR

$secondColor: #ed0b70;
$thirdColour: #f6ebf4;
$highLight1: #6246ea;
$softPurple: #a786df;
$highLight2: #4cbfa6;
$darkColor1: #0e172c;
$darkColor2: #023b59;

//#f582ae;

$softPink: #eebbc3;
$mediumPink: #fec7d7;
$softBlue: #b8c1ec;
$beigeTanned: #f3d2c1;
$beigeSoft: #fef6e4;
$mediumPurple: #6246ea;

//#ec2ac2

// Turquoise: #4cbfa6

// Soft Lilac: #f6ebf4

// Purple: #482673

// Orchid: #ed0b70

// Digi Denim: #301008
