@import "core/variables";
@import "core/mediaqueries";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#light {
  background-color: whitesmoke;
  color: $darkColor1;
}

#dark {
  background-color: $darkColor1;
  color: whitesmoke;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_title {
  font-family: $titleFont;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @include mediaTablet() {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
#dark .section_title {
  color: $highLight2;
}
.left {
  margin-left: 15px;
  margin-right: auto;
  @include mediaTablet() {
    margin-left: 30px;
  }
  @include mediaDesktop() {
    margin-left: 50px;
  }
  @include mediaBigDesktop() {
    margin-left: 150px;
  }
}
.right {
  margin-right: 15px;
  @include mediaTablet() {
    margin-right: 30px;
  }
  @include mediaDesktop() {
    margin-right: 50px;
  }
  @include mediaBigDesktop() {
    margin-right: 150px;
  }
}
.resize {
  width: 150px;
  @include mediaTablet() {
    width: 180px;
  }
}
